.DS_Store
.env
__pycache__/
work/
*.py[oc]
build/
dist/
node_modules/
coverage/
playwright-report/
test-results/
wheels/
*.egg-info/
.venv/
.*.env
.idea/
.vscode/
.coverage
*.coverage
.coverage.*
*.tsbuildinfo
.vite/